:root {
  --primary-color: #1c1c1c;
  --secondary-color: #f6f6f9;
  --accent-color: #f69400;
  --accent2-color: #e08702;
  --background-color: #083a4a;
  --text-color: #aaaaaa;
}

/*===================================================*/
/*===================================================*/
/*  
                       General         
*/
/*===================================================*/
/*===================================================*/
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
} 
p{
  font-size: 18px;
}
p,
h1 { 
  color: var(--background-color);
}
/*===================================================*/
/*===================================================*/
/*  
                 Main Container        
*/
/*===================================================*/
/*===================================================*/
.main_container {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*===================================================*/
/*===================================================*/
/*  
                      Navbar        
*/
/*===================================================*/
/*===================================================*/
.navbar {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
}
.logo_lap img {
  max-width: 90px;
  max-height: 90px;
}
li a:active {
  color: var(--accent-color);
}
a:hover {
  color: var(--accent-color);
}
li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--background-color);
  font-weight: 400;
  transition: 0.5s;
}
li {
  list-style-type: none;
  margin: 0px 20px;
}
.menu_btn a:hover {
  color: var(--secondary-color);
  background: var(--accent2-color);
}
.menu_btn a {
  padding: 10px 15px;
  background: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  box-sizing: border-box;
}
.drop_down,
.drop-down {
  display: none;
}
/*===================================================*/
/*===================================================*/
/*  
                      Header Section        
*/
/*===================================================*/
/*===================================================*/
.header_text p {
  font-size: 18px;
}
.header_text h1 {
  font-size: 48px;
  line-height: 62px;
}
.header_text li {
  margin: 0;
}
.header_text {
  box-sizing: border-box;
  width: 50%;
  gap: 18px;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 0px 130px 0px 0px;
}

.header_image {
  width: 50%;
  justify-content: flex-end;
}
html {
  scroll-behavior: smooth;
}
/*===================================================*/
/*  
                         Main       
*/
/*===================================================*/
/*===================================================*/
#header_main {
  height: 640px;
}
.h-500px {
  height: 500px;
}
.main_box {
  height: 400px;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
}
 
.box:hover{   
  transition: 0.5s;
 
}
.hi3{ 
  height: 250px !important;
  width: 350px !important;
   box-shadow: inset 0px 5px 8px -5px;
} 
.box {
  height: 300px;
  width: 400px;
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 25px;
}
h1 .accent {
  color: var(--accent-color);
}
.head_ss h1 {
  font-size: 48px;
  letter-spacing: 1px;
}
.main_box img {
  height: 50px;
  width: 60px;
}
.box_txt h3 {
  margin: 10px 0px;
}
/*===================================================*/
/*===================================================*/
/*  
                         Integration       
*/
/*===================================================*/
/*===================================================*/
/*===================================================*/
.end {
  justify-content: flex-end;
}
.start {
  justify-content: flex-start;
}
.pad_r {
  padding: 0px 0px 0px 130px;
}
.hi {
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mt_n {
  margin-top: 100px;
}
.accent1 {
  color: var(--accent-color);
  font-size: 17px;
  letter-spacing: 3px;
}
.reverse {
  flex-direction: row-reverse;
}
/*===================================================*/
/*===================================================*/
/*  
                         Contact        
*/
/*===================================================*/
/*===================================================*/
/*===================================================*/
.contact_form {
  background: var(--background-color);
  height: 900px;
  width: 100%;
  margin-top: 100px;
  border-radius: 20px;
  margin-bottom: 100px;
}
.formspree label {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form_text h1 {
  font-size: 54px;
}
.form_text {
  margin-bottom: 50px;
}
.form_text {
  h1,
  p {
    color: var(--secondary-color);
  }
}
.formspree .message {
  height: 200px;
}
.formspree input,
.message {
  padding: 16px 10px;
  font-size: 18px;
  background-color: #094b61;
  border: none;
  border-radius: 10px;
  color: var(--secondary-color);
  margin: 10px 0px;
}
.submit_btn {
  background: var(--accent2-color);
}
.submit_btn {
  font-size: 17px;
  color: var(--secondary-color);
  background: var(--accent-color);
  border: none;
  padding: 20px 20px;
  border-radius: 10px;
  margin-top: 30px;
}
.formspree {
  height: 750px;
  width: 75%;
}
/*===================================================*/
/*===================================================*/
/*  
                         Footer        
*/
/*===================================================*/
/*===================================================*/
/*===================================================*/
footer {
  background: var(--background-color);
}
footer .main_container {
  height: 300px;
  width: 100%;
  gap: 20px;
}
.footer_logo,
.footer_menuItems {
  height: 95%;
  width: 95%;
  padding: 20px 0px;
  box-sizing: border-box;
}
.footer_logo h1 {
  color: var(--secondary-color);
}
.footer_menuItems{
  gap: 20px;
}
.footer_menu li a:hover{
  color: var(--accent-color);
  opacity: 0.7;
}
.footer_menu li a{
  font-size: 14px;
  color: var(--secondary-color); 
  opacity: 0.5;
}
.footer_menu{
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.footer_box{
  height: 80%;
  width: 40%; 
  color: var(--secondary-color); 
}
.footer_logo {
  font-size: 54px; 
}
a{
  text-decoration: none;
}
.copy-right .paragraph{
  color: var(--secondary-color);
  width: 50%;
  opacity: 0.5;
}
.copy-right{
  height: 100px;
  width: 100%;
  max-width: 1200px;  
}
.policy_btn li a{
  opacity: 1;
}
.policy_btn{
  width: 50%;
}
.policy_btn .footer_menu{
  flex-direction: row;
}
hr{ 
  display: none;
}
.btn_menu{
  margin-top: 10px;
}  
 /*===================================================*/
  /*===================================================*/
  /*  
                     Home 2        
*/
  /*===================================================*/
  /*===================================================*/
  .home2_header_image{ 
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .box1{
    height: 400px;
    width: 350px;
    background: var(--background-color);
    border-radius: 10px;
    box-sizing: border-box; 
    gap: 30px;
    position: relative;
  } 
  .interaction{
    height: 80px;
    width: 60%;
    text-align: center;
    background:#ffdfae;
    border-radius: 20px;
    font-size: 18px;
  }
  .comp_icon{
    height: 150px;
    width: 80%; 
  }
  .accent{
    color: var(--accent-color);
  }
  .inter_logo{
    height: 110px;
    width: 100%; 
    background: #F5F7F8;
  }
  .hey{
    background: #F5F7F8;
  }
  .map img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  .map_section{
    width: 100%;
  }
 /*===================================================*/
  /*===================================================*/
  /*  
                      About        
*/
  /*===================================================*/
  /*===================================================*/

  .about_header {
    margin-top: 50px; 
    margin-bottom: 50px;
  }
  .about_header h1{
    font-size: 54px;
  }
  .about_header p{
    max-width: 900px;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
  }
  .main_about{
    margin-top: 100px;
    height: 600px;
    width: 100%;  
    gap: 20px;
  }
 
  .about_intro h1{
    font-size: 48px;
  }
  .about_intro p{
    width: 400px;
    font-size: 18px;
  }
  .about_intro{
    gap: 20px; 
  }
  .about_intro, .about_image{
    height: 100%;
    width: 45%; 
    align-items: start;
  } /*===================================================*/
  /*===================================================*/
  /*  
                      Contact        
*/
  /*===================================================*/
  /*===================================================*/
  .boxes{
    height: 700px;
    width: 50%;
    align-items: start;
  } 
  .boxess{
    padding-right: 150px;
    gap: 30px;
  }
  li span{
    margin-right: 15px;
  }
  .contact_header h1{
    font-size: 42px;
  }
  .contact_icons li {
    list-style-type: none;
    margin: 0px;
    margin-bottom: 15px;
}
  .heythe{
    height: 600px !important;
    padding: 50px 0px;
  }
  .social_icons .fa-brands:hover{ 
    color: #FF4646;
  }
  .fa-brands, .fa-solid, .fab { 
    margin-top: 20px;
    font-size: 20px;
  }
  .social_icons .fa-brands{
    color: #FF4646;
  }
  .menu_items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul.center {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul.center li {
    margin-right: 20px;
  }
  
  .custom_dropdown {
    position: relative;
  }
  
  .custom_dropdown summary {  
    cursor: pointer;
  }
  
  .custom_dropdown summary:hover {
    color: var(--accent-color);
  }
  
  .custom_dropdown ul.dropdown_items {
    position: absolute;
    top: 100%; /* This places the dropdown right below the Home button */
    left: 0;
    background-color: #fff;
    display: none;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .custom_dropdown[open] ul.dropdown_items {
    display: block;
  }
  
  .custom_dropdown ul.dropdown_items li {
    padding: 10px 20px;
    white-space: nowrap; /* Prevent text from breaking */
  }
  
  .custom_dropdown ul.dropdown_items li a {
    color: #000;
    text-decoration: none;
  }
  
  .custom_dropdown ul.dropdown_items li a:hover {
    color: var(--accent-color);
  }
  
  .drop_down i {
    font-size: 24px;
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .drop_down i:hover {
    transform: rotate(180deg);
    background-color: var(--secondary-color);
  }
    /*===================================================*/
  /*===================================================*/
  /*  
                      Pricing       
*/
  /*===================================================*/
  /*===================================================*/
  .main_pricing .heading h1{
    color: var(--secondary-color) !important;
    font-size: 42px;
    margin-bottom: 20px;
  }
  .main_pricing{
    height: 400px;
    width: 100%;
    background: linear-gradient(90deg, #FF4646, var(--accent-color));
    border-radius: 20px;
    margin-top: 50px;
    color: var(--secondary-color);
  }
  .pricing_planing{
    display: flex;  
    gap: 30px;
  }
  .pricing_planing label input{
    padding: 20px 20px;
    font-size: 18px;
    border: none;
    border-radius: 6px;  
    color: var(--background-color);
    margin: 8px 0px;
  }
  .pricing_planing label{ 
    display: flex; 
    align-items: start;
    flex-direction: column; 
  }
  .pricing_container{ 
    height: 50%;
    width: 70%; 
  }
  .submit_btnss{
    font-size: 17px;
    color: var(--secondary-color);
    background: var(--background-color);
    border: none;
    padding: 0px 40px;
    border-radius: 10px;
    margin-top: 28px;
  } 
  .table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;   
    box-sizing: border-box;  
  }
  
  table {
    width: 100%;  
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
  }
  
  thead th {
    font-size: 18px;
    padding: 15px;
    background-color: #f1f1f1;
    color: #333;
  }
  
  .highlight-circle {
    display: inline-block;
    background-color: #002e3b;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
  }
  
  tbody tr td {
    padding: 15px;
    color: #333;
    transition: background 0.3s ease;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background: linear-gradient(270deg, #FF4646, var(--accent-color));
    color: #fff; /* Text color changes to white on hover */
    font-weight: 600;
  }
  
  .highlight-row {
    background-color: #ffedeb;
    color: #f7931e;
    font-weight: bold;
  }
  
  .highlight-row td {
    font-weight: bold;
  }
  
  tbody td strong {
    color: #002e3b;
  }
  .main_sliderHome{
    height: 600px;
    width: 100%;  
  }
    /*===================================================*/
  /*===================================================*/
  /*  
                      Home_:) 3        
*/
  /*===================================================*/
  /*===================================================*/
  .dots-container { 
    margin-top: 20px;
  }
  
  .dot1, .dot2, .dot3, .dot4, .dot5, .dot6 {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px; 
    margin-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot1.active, .dot2.active, .dot3.active, .dot4.active, .dot5.active, .dot6.active {
    background-color: var(--accent-color) /* Change color when active */
  }
  
  
@media (max-width: 768px) { 

  /*===================================================*/
  /*===================================================*/
  /*  
                      Mobile Navbar        
*/
  /*===================================================*/
  /*===================================================*/
  .table-container {
    padding: 0px;    
  }

  table {
    width: 100%;  /* Ensure the table still uses the full width */
    font-size: 16px;  /* Reduce font size for better readability on small screens */
  }

  thead th {
    font-size: 16px;  /* Smaller font for table headings */
    padding: 10px;    /* Less padding on small screens */
  }

  tbody tr td {
    padding: 10px;    /* Reduce cell padding */
  }

  .highlight-circle {
    padding: 1px 4px;  /* Smaller circle size */
  }

  tbody td strong {
    font-size: 16px;   /* Make strong text smaller */
  }

  /* Optionally, you can make the table scrollable */
  .table-container::-webkit-scrollbar {
    height: 8px; /* Adjust scrollbar height */
  }

  .table-container::-webkit-scrollbar-thumb {
    background-color: #ccc;  /* Scrollbar color */
    border-radius: 4px;
  }
  .main_container {
    box-sizing: border-box;
    padding: 10px;
  }
  #header_main {
    height: auto;
  }
  .reverse {
    flex-direction: row;
  }
  .navbar {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
  }
  .menu_items ul {
    display: none;
  }
  .menu_btn button {
    padding: 5px 10px;
    background: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  /*===================================================*/
  /*===================================================*/
  /*  
                      Drop Down       
*/
  /*===================================================*/
  /*===================================================*/
  .drop_down {
    display: flex;
  }
  .fa-angle-down:hover {
    color: var(--accent-color);
  }
  .fa-angle-up,
  .fa-angle-down {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 45%;
    outline: none;
    box-sizing: border-box;
  }
  .drop-down {
    display: none;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    position: absolute;
    top: 100px;
    box-sizing: border-box;
    padding: 40px 0px;
    background: var(--secondary-color);
  }

  .drop-down li a:active {
    color: var(--accent-color);
  }
  .drop-down li a:hover {
    color: var(--accent-color);
  }
  .drop-down li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--background-color);
    font-weight: 400;
    transition: 0.5s;
  }
  .drop-down li {
    list-style-type: none;
  }
  
  /*===================================================*/
  /*===================================================*/
  /*  
                         Header       
  */
  /*===================================================*/
  /*===================================================*/
  header .main_container {
    flex-direction: column;
    gap: 50px;
  }
  .header_text p {
    font-size: 18px;
  }
  .header_text h1 {
    font-size: 32px;
    line-height: 44px;
  }
  .header_text a {
    margin: 0px;
  }
  .header_text {
    box-sizing: border-box;
    width: 100%;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 10px;
  }
  .header_image img {
    width: 100%;
    margin-top: 0px;
  }
  .header_image {
    width: 95%;
  }
  /*===================================================*/
  /*===================================================*/
  /*  
                         Boxes       
*/
  /*===================================================*/
  /*===================================================*/

  .main_box {
    flex-direction: column;
  }
  .box {
    text-align: center;
  }
  .head_ss h1 {
    font-size: 32px;
    text-align: center;
  }
  .head_ss {
    margin-bottom: 260px;
    margin-top: 40px;
  }
  .hi {
    height: 1100px;
    justify-content: start;
  }
  .box {
    width: 95%;
    padding: 20px;
  }

  /*===================================================*/
  /*===================================================*/
  /*  
                         Integration Mobile       
*/
  /*===================================================*/
  /*===================================================*/
  .accent1 {
    font-size: 13px;
  }
  .hea1 {
    flex-direction: column;
    gap: 30px;
  }
  .hea1 h1 {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 3px;
  }
  .mt_n {
    margin-top: 0px;
  }
  /*===================================================*/
  /*===================================================*/
  /*  
                         Contact        
*/
  /*===================================================*/
  /*===================================================*/
  /*===================================================*/

  .contact_form {
    height: 800px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .form_text h1 {
    font-size: 32px;
  }
  .form_text {
    text-align: center;
    margin-bottom: 50px;
  }
  .submit_btn {
    font-size: 17px;
    color: var(--secondary-color);
    background: var(--accent-color);
    border: none;
    width: 100%;
    margin-top: 0px;
  }
  .formspree {
    height: auto;
    width: 95%;
  }
  /*===================================================*/
  /*===================================================*/
  /*  
                         Footer        
*/
  /*===================================================*/
  /*===================================================*/
  /*===================================================*/

  footer .main_container{ 
      height: auto;
      width: 100%;
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; 
  }
  .footer_logo h1{
    font-size: 40px;
  }
.footer_logo{
  padding: 10px 0px;
}
  .footer_menuItems{
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center; gap: 60px;
  }
  .copy-right{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .copy-right .paragraph{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  .footer_menu li a{
    font-size: 12px;
  }
  .copy-right .policy_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
  } 
  hr{
    height: 0.5px;
    width: 100%;  
  }  
  /*===================================================*/
  /*===================================================*/
  /*  
                         Home 2        
*/
  /*===================================================*/
  /*===================================================*/
  /*===================================================*/

  .image_home2{
    width: 65% !important; 
  }
  .img_homes{
    height: 50px !important;
    width: 60px !important;
  }
  .header_image { 
    justify-content: center;
  }
    /*===================================================*/
  /*===================================================*/
  /*  
                         About        
*/
  /*===================================================*/
  /*===================================================*/
  /*===================================================*/

  .about_header {
    margin-top: 40px;
    height: 330px;
  }
  .main_about{
    margin-top: 10px;
    height: 1060px;
    flex-direction: column;
  } 
   /*===================================================*/
  /*===================================================*/
  /*  
                         Contact        
*/
  /*===================================================*/
  /*===================================================*/
  /*===================================================*/

  .contact_header{
    margin-top: 50px;
  }
  .contact_header h1{
    font-size: 32px;
  }
  .contact_header, .contact_paragraph{
    text-align: center;
  }
  .iees{
    display: none;
  }
  .boxes{
    width: 100%; 
    height: auto;
  }
  .boxess{
    padding-right: 0px;
    gap: 30px; 
    align-items: center;
  }
  .iee{
    flex-direction: column;
  }
    /*===================================================*/
  /*===================================================*/
  /*  
                         Pricing        
*/
  /*===================================================*/
  /*===================================================*/
  /*===================================================*/
  .submit_btnss{
    padding: 15px 40px;
  }
  .main_pricing {
    height: 530px;
    margin-top: 0px;
  }
  .main_pricing .heading h1 { 
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
  .pricing_container {
    height: 80%;
    width: 95%;
  }
 .pricing_planing{
  flex-direction: column;
  gap: 5px;
 }
 .heyee{
  margin-top: 0px !important;
 }
 .pricing_planing label input {  
  width: 99%;
}
}
